<!DOCTYPE HTML>
<html ng-app="Courses">
  <head>
     <meta charset="UTF-8">
    <title>Bus System</title>
    <link rel="stylesheet" href="stylesheets/angular-material.min.css">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-animate.min.js"></script>
    <script src="javascripts/angular-aria.min.js"></script>
    <script src="javascripts/angular-messages.min.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="javascripts/angular-sanitize.min.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <!-- Angular Material Library -->
    <script src="javascripts/angular-material.min.js"></script>
    <!--Bootstrap-->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <script src="javascripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

	
  </head>
  <body  ng-controller="mainController" ng-cloak>
  	<header>
  	</header>

	    <div ng-controller="mainController" ng-cloak>
	    	<div id="main">
		    	<div ng-view></div>
		    <div>
	    </div>
  </body>
  <script src="javascripts/controller.js"></script>
</html>