

<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Acerca</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          versión: 1.0
        </p>
        <p>
        Jorge Antonio Hernández Guzmán
        </p>
        <p>
          jorgeantoniohernandezguzman@hormail.com
        </p>
        <p>Facultad de Ingeniería, cerro de Coatepec s/n.</p>
        <p>Toluca, Edo.  de México. México. C.P. 50130</p>
        <p>+52(722)3412967</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="accept()">
        Aceptar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

